<nav class="vinyl-navbar">

    <div class="vinyl-navbar-main">

        <!-- LEFT-ALIGNED LINKS -->

        <div class="vinyl-nav-left d-none d-md-flex">

            <ul class="vinyl-nav-links">

                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li>
                    <a href="{% url 'aboutus' %}">
                        About Us
                    </a>
                </li>

                <!-- OUTLETS DROPDOWN -->

                <li class="vinyl-nav-dropdown dropdown">

                    <a
                        class="vinyl-dropdown-toggle dropdown-toggle"
                        id="navbarDropdownStores"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Outlets
                    </a>

                    <ul
                        class="vinyl-dropdown dropdown-menu"
                        aria-labelledby="navbarDropdownStores"
                    >

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'record_store_summary' %}"
                            >
                                All Outlets
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'popular_store' %}"
                            >
                                Popular Record Outlets
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'new_store' %}"
                            >
                                New Record Outlets
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- RECORDS DROPDOWN -->

                <li class="vinyl-nav-dropdown dropdown">

                    <a
                        class="vinyl-dropdown-toggle dropdown-toggle"
                        id="navbarDropdownCollection"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Records
                    </a>

                    <ul
                        class="vinyl-dropdown dropdown-menu"
                        aria-labelledby="navbarDropdownCollection"
                    >

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'record_collection_summary' %}"
                            >
                                All Records
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'popular_vinyls' %}"
                            >
                                Popular Vinyls
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'fresh_arrivals' %}"
                            >
                                Fresh Arrivals
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- GENRES DROPDOWN -->

                <li class="vinyl-nav-dropdown dropdown">

                    <a
                        class="vinyl-dropdown-toggle dropdown-toggle"
                        id="navbarDropdownGenre"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Genres
                    </a>

                    <ul
                        class="vinyl-dropdown vinyl-dropdown-genres dropdown-menu"
                        aria-labelledby="navbarDropdownGenre"
                    >

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'genre_summary' %}"
                            >
                                All Genres
                            </a>
                        </li>

                        <li>
                            <hr class="dropdown-divider" />
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'jazz' %}"
                            >
                                Jazz
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'blues' %}"
                            >
                                Blues
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'classical' %}"
                            >
                                Classical
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'rock' %}"
                            >
                                Rock
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'hip-hop-rap' %}"
                            >
                                Hip-Hop &amp; Rap
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'pop' %}"
                            >
                                Pop
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'soul-rb' %}"
                            >
                                Soul &amp; R&amp;B
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'electronic-edm' %}"
                            >
                                Electronic / EDM
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'reggae' %}"
                            >
                                Reggae
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'country' %}"
                            >
                                Country
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>

        </div>


        <!-- CENTER: BRAND -->

        <div class="vinyl-navbar-brand">

            <a href="{% url 'home' %}">
                VINYLS
            </a>

        </div>


        <!-- RIGHT: SEARCH + CART + MENU -->

        <div class="vinyl-navbar-right">

            <!-- Desktop Search -->

            <form
                class="vinyl-search d-none d-lg-flex"
                method="POST"
                action="{% url 'search' %}"
                role="search"
            >

                {% csrf_token %}

                <input
                    type="search"
                    name="searched"
                    placeholder="SEARCH"
                    aria-label="Search"
                >

                <button type="submit">
                    <i class="bi bi-arrow-right"></i>
                </button>

            </form>


            <!-- CART -->

            <a
                href="{% url 'cart_summary' %}"
                class="vinyl-cart-button"
                aria-label="Shopping cart"
            >

                <i class="bi bi-bag"></i>

                <span>
                    CART
                </span>

                <span
                    id="cart_quantity"
                    class="vinyl-cart-count"
                >
                    {{ cart_quantity|default:0 }}
                </span>

            </a>


            <!-- MENU -->

            <button
                class="vinyl-menu-button"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Open navigation"
            >

                <span>MENU</span>

                <i class="bi bi-list"></i>

            </button>

        </div>

    </div>


    <!-- MOBILE / OFF-CANVAS NAVIGATION -->

    <div
        class="offcanvas offcanvas-end vinyl-offcanvas"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
    >

        <!-- Offcanvas Header -->

        <div class="vinyl-offcanvas-header">

            <h5 id="offcanvasNavbarLabel">
                VINYLS<span>.</span>
            </h5>

            <button
                type="button"
                class="vinyl-close-button"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
            >
                ×
            </button>

        </div>


        <div class="offcanvas-body">


            <!-- NAVIGATION -->

            <div class="vinyl-mobile-section-label">
                NAVIGATION
            </div>


            <ul class="vinyl-mobile-nav">

                <li>
                    <a href="{% url 'home' %}">
                        Home
                    </a>
                </li>

                <li>
                    <a href="{% url 'aboutus' %}">
                        About Us
                    </a>
                </li>


                <!-- OUTLETS DROPDOWN -->

                <li class="vinyl-mobile-dropdown dropdown">

                    <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Outlets
                    </a>

                    <ul class="vinyl-mobile-subnav dropdown-menu">

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'record_store_summary' %}"
                            >
                                All Outlets
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'popular_store' %}"
                            >
                                Popular Record Outlets
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'new_store' %}"
                            >
                                New Record Outlets
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- RECORDS DROPDOWN -->

                <li class="vinyl-mobile-dropdown dropdown">

                    <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Records
                    </a>

                    <ul class="vinyl-mobile-subnav dropdown-menu">

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'record_collection_summary' %}"
                            >
                                All Records
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'popular_vinyls' %}"
                            >
                                Popular Vinyls
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'fresh_arrivals' %}"
                            >
                                Fresh Arrivals
                            </a>
                        </li>

                    </ul>

                </li>


                <!-- GENRES DROPDOWN -->

                <li class="vinyl-mobile-dropdown dropdown">

                    <a
                        class="dropdown-toggle"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Genres
                    </a>

                    <ul class="vinyl-mobile-subnav dropdown-menu">

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'genre_summary' %}"
                            >
                                All Genres
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'jazz' %}"
                            >
                                Jazz
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'blues' %}"
                            >
                                Blues
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'classical' %}"
                            >
                                Classical
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'rock' %}"
                            >
                                Rock
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'hip-hop-rap' %}"
                            >
                                Hip-Hop &amp; Rap
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'pop' %}"
                            >
                                Pop
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'soul-rb' %}"
                            >
                                Soul &amp; R&amp;B
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'electronic-edm' %}"
                            >
                                Electronic / EDM
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'reggae' %}"
                            >
                                Reggae
                            </a>
                        </li>

                        <li>
                            <a
                                class="dropdown-item"
                                href="{% url 'category' 'country' %}"
                            >
                                Country
                            </a>
                        </li>

                    </ul>

                </li>

            </ul>


            <!-- SHOPPING -->

            <div class="vinyl-mobile-section-label">
                SHOPPING
            </div>


            <ul class="vinyl-mobile-nav">

                <li>
                    <a href="{% url 'cart_summary' %}">
                        Cart

                        <span
                            id="mobile_cart_quantity"
                            class="vinyl-mobile-count"
                        >
                            {{ cart_quantity|default:0 }}
                        </span>
                    </a>
                </li>

            </ul>


            <!-- ACCOUNT -->

            <div class="vinyl-mobile-section-label">
                ACCOUNT
            </div>


            <ul class="vinyl-mobile-nav">

                {% if user.is_authenticated %}

                    <!-- Profile -->

                    <li>
                        <a href="{% url 'update_user' %}">
                            User Profile
                        </a>
                    </li>


                    <!-- Update Info -->

                    <li>
                        <a href="{% url 'update_info' %}">
                            Update Info
                        </a>
                    </li>


                    <!-- Messages -->

                    <li>
                        <a href="{% url 'inbox' %}">
                            Messages

                            {% if unread_message_count > 0 %}

                                <span class="vinyl-mobile-count">
                                    {{ unread_message_count }}
                                </span>

                            {% endif %}

                        </a>
                    </li>


                    <!-- Vendor -->

                    {% if not request.user.vendor %}

                        <li>
                            <a href="{% url 'become_vendor' %}">
                                Open Your Outlet
                            </a>
                        </li>

                    {% else %}

                        <li>
                            <a href="{% url 'store_detail' pk=store.pk %}">
                                My Outlet
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'vendor_dashboard' %}">
                                Vendor Dashboard
                            </a>
                        </li>

                    {% endif %}


                    <!-- Admin -->

                    {% if user.is_superuser %}

                        <li>
                            <a href="{% url 'shipped_dash' %}">
                                Shipped Dashboard
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'not_shipped_dash' %}">
                                Pending Dashboard
                            </a>
                        </li>

                    {% endif %}


                    <!-- Logout -->

                    <li class="vinyl-mobile-danger">

                        <a href="{% url 'logout' %}">
                            Logout
                        </a>

                    </li>


                {% else %}

                    <li>
                        <a href="{% url 'login' %}">
                            Login
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'register' %}">
                            Sign Up
                        </a>
                    </li>

                {% endif %}

            </ul>


            <!-- MOBILE SEARCH -->

            <form
                class="vinyl-mobile-search"
                method="POST"
                action="{% url 'search' %}"
                role="search"
            >

                {% csrf_token %}

                <input
                    type="search"
                    name="searched"
                    placeholder="SEARCH RECORDS"
                    aria-label="Search"
                >

                <button type="submit">
                    SEARCH
                </button>

            </form>

        </div>

    </div>

</nav>
