{% extends 'base.html' %}

{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Record stores</h1>
                    <p class="lead fw-normal text-white-50 mb-0">find your favoutite store</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if stores %}
                {% for store in stores%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                             {%if store.image %}
                            <img class="card-img-top" src="{{ store.image.url}}" alt="..." />
                            {% else %}
                            <img class="card-img-top" src="/static/default-store.jpg" alt="..." />
                            {% endif %}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- store name-->
                                    <h5 class="fw-bolder">{{ store.store_name}}</h5>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'store_detail' store.id %}">View store</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                

 {% endfor %}

{% endif %}
                </div>
            </div>
                
        </section>
        

{% endblock %}
